.searchAndLocation {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}

.store {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}